.images-container img,
.camera-roll img {
  height: 200px;
  opacity: 0.9;
  border-radius: 5px;
  margin: 10px;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.image-preview {
  text-align: center;
}

.image-preview .img {
  max-width: 70vw;
  max-height: 70vh;
  border-radius: 3px;
}
